<div class="row mt--8">
  <div class="col-xl-12">
    <div class="card bg-secondary shadow">
      <!--Header de la tabla-->
      <div class="card-header bg-white border-0 shadow">
        <div
          class="row align-items-center justify-content-between pl-lg-4 pr-lg-4">
          <h1>Lista de Actividades</h1>

          <div
            class="navbar-search navbar-search-white form-inline d-none d-md-flex">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i
                    class="fas fa-search"></i></span>
              </div>
              <!--Barra de busqueda-->
              <input class="form-control text-dark" [(ngModel)]="filtro"
                placeholder="Search" type="text" />
            </div>
          </div>

          <button class="btn btn-icon btn-2 btn-outline-primary" type="button"
            (click)="nuevaActividad();">
            <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
            <span class="btn-inner--text">Nueva Actividad</span>
          </button>
        </div>
      </div>
      <!--Items de la tabla-->
      <div class="card-body align-items-center">
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-ligth">
              <tr>
                <th scope="col" class="h1"></th>
                <th scope="col" class="h1">No.</th>
                <th scope="col" class="h1">Tipo</th>
                <th scope="col" class="h1">Nombre</th>
                <th scope="col" class="h1">Duración</th>
                <th scope="col" class="h1">Ultima Actualización</th>
                <th scope="col" class="h1"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let actividad of actividades">
                <th>
                  <div class="media align-items-center">
                    <div class="avatar rounded-circle">
                      <img alt="Image placeholder"
                        src="assets/img/theme/bootstrap.jpg">
                    </div>
                  </div>
                </th>
                <!--No. Actividad-->
                <th>
                  <div class="media-body align-items-center">
                    <span class="text-sm">
                      {{ actividad.idPlanTrabajo }}
                    </span>
                  </div>
                </th>
                <!--tipoActividad-->
                <th>
                  <div class="media-body align-items-center">
                    <div
                      class="icon icon-shape rounded-circle {{tiposActividad[actividad.tipoActividad].class}}"
                      placement="bottom"
                      ngbTooltip="{{tiposActividad[actividad.tipoActividad].descripcion}}">
                      <i
                        class="ni {{tiposActividad[actividad.tipoActividad].icon}}"></i>
                    </div>
                  </div>
                </th>
                <!--Nombre-->
                <th>
                  <div class="media-body align-items-center">
                    <span class="text-sm">
                      {{ actividad.nombre }}
                    </span>
                  </div>
                </th>
                <!--Duracion-->
                <th>
                  <div class="media-body align-items-center">
                    <span class="text-sm">
                      {{actividad.duracionMinutos}} minutos
                    </span>
                  </div>
                </th>
                <!--Fecha modificacion-->
                <th>
                  <div class="media-body align-items-center">
                    <span class="text-sm">
                      {{actividad.fechaModificacion | date:'longDate'}}
                    </span>
                  </div>
                </th>
                <!--Menu de acciones-->
                <th>
                  <div ngbDropdown placement="left">
                    <a class="btn  btn-icon-only text-dark border rounded-circle"
                      ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu
                      class="dropdown-menu-right dropdown-menu-arrow">
                      <button class="dropdown-item">Ver información</button>
                      <button class="dropdown-item">Editar información</button>
                      <button class="dropdown-item" type="button"
                        (click)="setActividadSelected(actividad);">Programar
                        Actividad</button>
                    </div>
                  </div>
                </th>

              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <nav class="m-auto mr-auto" aria-label="...">
            <ul class="pagination">
              <li class="page-item">
                <button class="page-link" (click)="changePrimerControl(-1)">
                  <i class="fa fa-angle-left"></i>
                </button>
              </li>

              <li *ngFor="let page of controls" class="page-item"
                [class.active]="page == SelectedPage"
                (click)="changePage(page)">
                <button class="page-link">
                  {{ page }}
                </button>
              </li>

              <li class="page-item">
                <button class="page-link" (click)="changePrimerControl(1)">
                  <i class="fa fa-angle-right"></i>
                </button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>