<form (ngSubmit)="registrarNuevaActividad();" method="post">
  <div *ngIf="!!newActividad" class="card card-profile shadow">
    <div class="row justify-content-center">
      <div class="col-lg-3 order-lg-2 mt--5">
        <div class="card-profile-image">
          <img [src]="perfil" class="rounded-circle">
        </div>
      </div>
    </div>
    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0">
      <div class="d-flex justify-content-between text-center">
        <!--Tipo-->
        <div class="col-lg-3">
          <div
            *ngIf="newActividad.tipoActividad !== '0' && newActividad.tipoActividad !== '1'"
            class="icon icon-shape bg-info text-white rounded-circle"
            placement="bottom" ngbTooltip="Tipo Actividad">
          </div>
          <div *ngIf="newActividad.tipoActividad === '0'"
            class="icon icon-shape bg-success text-white rounded-circle"
            placement="bottom" ngbTooltip="Evaluación">
            <i class="ni ni-hat-3"></i>
          </div>
          <div *ngIf="newActividad.tipoActividad === '1'"
            class="icon icon-shape bg-danger text-white rounded-circle"
            placement="bottom" ngbTooltip="Diagnostico">
            <i class="ni ni-collection"></i>
          </div>
        </div>
        <!--duracion-->
        <div class="col-lg-3">
          <div class="icon icon-shape bg-info text-white rounded-circle"
            placement="bottom" ngbTooltip="Minutos">
            <span *ngIf="!!newActividad">{{newActividad.duracionMinutos}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="col-12">
        <!--situacionDidactica-->
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <div class="form-group">
                <div class="input-group">
                  <label class="form-control text-dark" type="text">
                    <span *ngIf="!!newActividad.nombre" class="btn-inner--text">
                      {{newActividad.nombre.slice(0,50)}}
                    </span>
                  </label>
                  <div class="input-group-append">
                    <span class="input-group-text" placement="bottom"
                      ngbTooltip="Editar">
                      <i class="ni ni-ruler-pencil text-dark"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-4" />
        <div class="col-lg-12">
          <!--Area de Formacion-->
          <div class="row justify-content-between aling-items-center mb-2">
            <label class="h3 col-lg-9">
              Area de Formación
            </label>
            <ul class="pagination col-lg-1">
              <li class="page-item" [class.active]="listaArea">
                <button type="button" class="page-link"
                  (click)="listaArea=!listaArea">
                  <span class="btn-inner--icon">
                    <i *ngIf="!listaArea" class="ni ni-bold-down"></i>
                    <i *ngIf="listaArea" class="ni ni-bold-up"></i>
                  </span>
                </button>
              </li>
            </ul>
          </div>
          <div *ngIf="listaArea" class="form-group">
            <ul class="list-group list-group-flush">
              <ng-container *ngFor="let a of areas">
                <li class="page-item">
                  <p>
                    {{a}}
                  </p>
                </li>
              </ng-container>
            </ul>
          </div>
          <hr class="my-4" />
          <!--Aprendizaje Esperado / rubro diafnostico-->
          <div class="row justify-content-between aling-items-center mb-2">
            <label class="h3 col-lg-9">
              Aprendizajes Esperados
            </label>
            <ul class="pagination col-lg-1">
              <li class="page-item" [class.active]="listaAprendizaje">
                <button type="button" class="page-link"
                  (click)="listaAprendizaje=!listaAprendizaje">
                  <span class="btn-inner--icon">
                    <i *ngIf="!listaAprendizaje" class="ni ni-bold-down"></i>
                    <i *ngIf="listaAprendizaje" class="ni ni-bold-up"></i>
                  </span>
                </button>
              </li>
            </ul>
          </div>
          <div *ngIf="listaAprendizaje && !!newActividad" class="form-group">
            <ul class="list-group list-group-flush">
              <li *ngFor="let a of newActividad.idAprendizajeEsperado"
                class="page-item row align-items-center">
                <p class="col-10">
                  {{a.descripcion}}
                </p>
                <button type="button" class="col-1 page-link bg-danger"
                  placement="bottom" ngbTooltip="Remover"
                  (click)="deleteAprendizaje(a.idAprendizajeEsperado)">
                  <i class="ni ni-2x ni-fat-remove text-white"></i>
                </button>
              </li>
            </ul>
          </div>
          <hr class="my-4" />
          <!--Evidencia-->
          <div class="row justify-content-between aling-items-center mb-2">
            <label class="h3 col-lg-9">
              Evidencias
            </label>
            <ul class="pagination col-lg-1">
              <li class="page-item" [class.active]="listaEvidencia">
                <button type="button" class="page-link"
                  (click)="listaEvidencia=!listaEvidencia">
                  <span class="btn-inner--icon">
                    <i *ngIf="!listaEvidencia" class="ni ni-bold-down"></i>
                    <i *ngIf="listaEvidencia" class="ni ni-bold-up"></i>
                  </span>
                </button>
              </li>
            </ul>
          </div>
          <div *ngIf="listaEvidencia" class="form-group">
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-ligth">
                  <tr>
                    <th scope="col" class="h1">Nombre</th>
                    <th scope="col" class="h1">Formato</th>
                    <th scope="col" class="h1"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let evidencia of newActividad.evidencia">
                    <!--Nombre-->
                    <th>
                      <div class="align-items-center">
                        <div class="media-body">
                          <span class="mb-0 text-sm">
                            {{evidencia.nombreEvidencia}}
                          </span>
                        </div>
                      </div>
                    </th>
                    <!--formato-->
                    <th>
                      <div class="align-items-center">
                        <div class="media-body">
                          <i
                            class="ni {{formatos[evidencia.idFormato].icon}}"></i>
                          {{formatos[evidencia.idFormato].descripcion}}
                        </div>
                      </div>
                    </th>
                    <!--Button-->
                    <th>
                      <li class="page-item" style="list-style: none;">
                        <button type="button" class="page-link bg-danger"
                          placement="bottom" ngbTooltip="Remover"
                          (click)="deleteEvidencia(evidencia.idEvidencia)">
                          <i class="ni ni-2x ni-fat-remove text-white"></i>
                        </button>
                      </li>
                    </th>
                  </tr>
                </tbody>
                <tfoot>
                  <tr class="pt-3">
                    <nav class="m-auto mr-auto" aria-label="...">
                      <ul class="pagination col-lg-1">
                        <li *ngFor="let page of controls" class="page-item"
                          [class.active]="page == SelectedPage"
                          (click)="changePage(page)">
                          <button type="button" class="page-link">
                            {{ page }}
                          </button>
                        </li>
                      </ul>
                    </nav>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
        <hr class="my-4" />
      </div>
    </div>
  </div>
</form>