<div class="container-fluid mt--6 bg-secondary">
  <div class="row">
    <!--Ficha de alumno seleccionado-->
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2 mt--5">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <!--Ficha de informacion del alumno-->
        <div class="card-body pt-0 pt-md-4">
          <div *ngIf="!!alumnoSeleccionado" class="text-center mt-6">
            <div class="col-8 text-left m-auto">
              <div class="text-left ml--4">
                <span class="font-weight-light"> Nombre: </span>
              </div>
              <h4>
                {{ alumnoSeleccionado.nombre + ' ' + alumnoSeleccionado.ap1 + ' ' + alumnoSeleccionado.ap2  }}
              </h4>
              <div class="text-left ml--4">
                <span class="font-weight-light"> CURP: </span>
              </div>
              <h4>
                {{ alumnoSeleccionado.curp }}
              </h4>
              <div class="text-left ml--4">
                <span class="font-weight-light"> Grupo - Grado - Turno: </span>
              </div>
              <h4>
                {{ alumnoSeleccionado.grado + '0' + alumnoSeleccionado.grupo + '-' + alumnoSeleccionado.turno  }}
              </h4>
            </div>
            <!--tutor-->
            <div class="card mt-3 align-items-center border border-dark">
              <img class="card-img-top rounded-circle col-4 mt-4" src="assets/img/theme/team-4-800x800.jpg" alt="Card image cap">
              <div class="card-body text-left">
                <h3 class="card-title text-center">
                  {{ alumnoSeleccionado.nombreTutor}}
                </h3>
                <h4>
                  <span class="font-weight-light mr-2">
                    <li class="ni ni-map-big mr-2"></li>
                    Dirección: 
                  </span>
                  {{ alumnoSeleccionado.direccion }}
                </h4>
                <h4>
                  <span class="font-weight-light mr-2">
                    <li class="ni ni-map-big mr-2"></li>
                    Telefono: 
                  </span>
                  {{ alumnoSeleccionado.telefono }}
                </h4>
                <h4>
                  <span class="font-weight-light mr-2">
                    <li class="ni ni-map-big mr-2"></li>
                    Correo Electronico: 
                  </span>
                  {{ alumnoSeleccionado.email }}
                </h4>
                <h4>
                  <span class="font-weight-light mr-2">
                    <li class="ni ni-map-big mr-2"></li>
                    Dirección: 
                  </span>
                  {{ alumnoSeleccionado.direccion }}
                </h4>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!--Tabla de alumnos-->
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0 shadow">
          <div class="row align-items-center">
            <div class="col-11">
              <h2 class="mb-0">Lista de alumnos</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-ligth">
                <tr>
                  <th scope="col" class="h1">Foto de Perfil</th>
                  <th scope="col" class="h1">No. Matircula</th>
                  <th scope="col" class="h1">Nombre completo</th>
                  <th scope="col" class="h1">Grupo</th>
                  <th scope="col" class="h1">Tutor</th>
                  <th scope="col" class="h1">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let alumno of alumnos">
                  <!--Foto-->
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src="assets/img/theme/bootstrap.jpg">
                      </a>
                    </div>
                  </th>
                  <!--Matricula-->
                  <th>
                    <div class="align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">
                          {{ alumno.idAlumno }}  
                        </span>
                      </div>
                    </div>
                  </th>
                  <!--Nombre completo-->
                  <th>
                    <div class="align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">
                          {{ alumno.nombre + " " + alumno.ap1 + " " + alumno.ap2 }}  
                        </span>
                      </div>
                    </div>
                  </th>
                  <!--Grupo Grado Truno-->
                  <th>
                    <div class="align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">
                          {{ alumno.grado + '0' + alumno.grupo + '-' + alumno.turno }}  
                        </span>
                      </div>
                    </div>
                  </th>
                  <!--Tutor-->
                  <th>
                    <div class="align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">
                          {{ alumno.nombreTutor }}  
                        </span>
                      </div>
                    </div>
                  </th>
                  <td class="text-right">
                    <div ngbDropdown placement="bottom-right">
                      <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                        <button class="dropdown-item" (click)="cambiarAlumnoSeleccionado(alumno);" >Ver información</button>
                        <button class="dropdown-item" >Editar información</button>
                        <button class="dropdown-item" >Otra acción</button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  