<div class="card bg-secondary shadow">
  <div class="card-header bg-white border-0 shadow">
    <div class="row align-items-center justify-content-between pl-lg-4 pr-lg-4">
      <h1>Actividad</h1>

      <button class="btn btn-icon btn-2 btn-outline-primary" type="button"
        routerLinkActive="active" [routerLink]="['/actividad/table']">
        <span class="btn-inner--icon"><i class="ni ni-bold-left"></i></span>
        <span class="btn-inner--text">Regresar</span>
      </button>
    </div>
  </div>
  <div class="card-body">
    <router-outlet></router-outlet>
  </div>
</div>