<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler no se muestra/ (arreglar)-->
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
       aria-controls="sidenav-collapse-main">
      <span class="ni ni-user-run"></span>
    </button>
    <!-- Imagen de Cabezera -->
    <a class="" routerLinkActive="active" [routerLink]="['/profile']">
      <img src="https://www.jing.fm/clipimg/full/40-406578_gorilla-kids-logo-kids-png.png" class="img-responsive col-11" style="display: block; margin-left: auto; margin-right: auto;" alt="...">
    </a>
    <!-- Menu Lateral -->
    <div class="collapse navbar-collapse"  [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
      <!-- Menu lateral superior-->
      <ul class="navbar-nav">
          <li *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
              <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link">
                  <i class="ni {{menuItem.icon}}"></i>
                  {{menuItem.title}}
              </a>
          </li>
      </ul>
      <!-- Divider -->
      <hr class="my-3">
      <!-- Menu lateral Inferior -->
      <h6 class="navbar-heading text-muted">Acciones Extra (cambiar nombre)</h6>
      <!-- Navigation -->
      <ul class="navbar-nav mb-md-3">
        <li class="nav-item">
          <a class="nav-link"><i class="ni ni-user-run"></i>LogOut</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
