<div class="card-header bg-white border-0 shadow">
  <div class="row align-items-center">
    <div class="col-11">
      <h2 class="mb-0">Cuenta de Usuario</h2>
    </div>
  </div>
</div>
<!--Formulario de actualizacion de datos de cuenta-->
<div class="card-body">
  <form [formGroup]="formUser" (ngSubmit)="updateUser()" method="post">
    <!--Datos de la Cuenta-->
    <h6 class="heading-small text-muted mb-2">Información de la Cuenta</h6>
    <div class="pl-lg-4 pr-lg-4">
      <div class="row">
        <!--email-->
        <div class="col-lg-4">
          <label class="form-control-label">Email</label>
          <div class="form-group">
            <input class="form-control text-dark"
              [ngClass]="isValidInput('email', formUser)" type="text"
              formControlName="email" placeholder="Nombre(s)">
          </div>
        </div>
        <!--pass-->
        <div class="col-lg-4">
          <label class="form-control-label">Password</label>
          <div class="form-group">
            <input class="form-control text-dark"
              [ngClass]="isValidInput('password', formUser)" type="password"
              formControlName="password" placeholder="Password">
          </div>
        </div>
        <!--pass confirm-->
        <div class="col-lg-4">
          <label class="form-control-label">Confirmar Password</label>
          <div class="form-group">
            <input class="form-control text-dark"
              [ngClass]="isValidPasswordConfirm()" type="password"
              formControlName="passwordConfirm"
              placeholder="Confirmar Password">
          </div>
        </div>

        <!--Mensjes de error-->
        <div
          *ngIf="(formUser.controls['email'].invalid && (formUser.controls['email'].dirty || formUser.controls['email'].touched))"
          class="col-lg-12">
          <div *ngIf="formUser.controls['email'].errors.required"
            class="alert alert-danger">
            Email es requerido.
          </div>
          <div *ngIf="formUser.controls['email'].errors.pattern"
            class="alert alert-danger">
            Formato de correo no valido.
          </div>
        </div>

        <div
          *ngIf="(formUser.controls['password'].invalid && (formUser.controls['password'].dirty || formUser.controls['password'].touched))"
          class="col-lg-12">
          <div *ngIf="formUser.controls['password'].errors.required"
            class="alert alert-danger">
            Password es requerido.
          </div>
          <div *ngIf="formUser.controls['password'].errors.pattern"
            class="alert alert-danger">
            Password debe contener: <br>
            8-20 carateres <br>
            1 mayuscula <br>
            1 Numero <br>
            1 simbolo especial <br>
          </div>
        </div>

        <div
          *ngIf="isValidPasswordConfirm() != '' && isValidPasswordConfirm() == 'is-invalid'"
          class="col-lg-12">
          <div class="alert alert-danger">
            Las contraseñas no coiciden.
          </div>
        </div>

        <!--BUTTON-->
        <div class="btn-group float-left col-lg-12">
          <div class="col-lg-9 ml-4"></div>
          <button type="submit" class="btn btn-primary col-lg-3 rounded"
            [disabled]="!formUser.valid">
            Cambar Contraseña
          </button>
        </div>
      </div>
    </div>
  </form>
</div>