<div class="card bg-secondary shadow">
  <div class="card-header bg-white border-0 shadow">
    <div class="row align-items-center justify-content-between pl-lg-4 pr-lg-4">
      <h1>Lista de alumnos</h1>

      <div
        class="navbar-search navbar-search-white form-inline d-none d-md-flex">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <!--Barra de busqueda-->
          <input [(ngModel)]="filtro" class="form-control text-dark"
            placeholder="Search" type="text">
        </div>
      </div>
    </div>
  </div>
  <div class="card-body align-items-center">
    <div class="table-responsive">
      <table class="table align-items-center table-flush">
        <thead class="thead-ligth">
          <tr>
            <th scope="col" class="h1">Foto de Perfil</th>
            <th scope="col" class="h1">No. Matircula</th>
            <th scope="col" class="h1">Nombre completo</th>
            <th scope="col" class="h1">Grupo</th>
            <th scope="col" class="h1">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let alumno of alumnos | filter:filtro"
            (click)="cambiarAlumnoSeleccionado(alumno)">
            <!--Foto-->
            <th scope="row">
              <div class="media align-items-center">
                <a class="avatar rounded-circle mr-3">
                  <img alt="Image placeholder" src="{{alumno.rutaPerfil}}">
                </a>
              </div>
            </th>
            <!--Matricula-->
            <th>
              <div class="align-items-center">
                <div class="media-body">
                  <span class="mb-0 text-sm">
                    {{ alumno.idAlumno }}
                  </span>
                </div>
              </div>
            </th>
            <!--Nombre completo-->
            <th>
              <div class="align-items-center">
                <div class="media-body">
                  <span class="mb-0 text-sm">
                    {{ alumno.nombre + " " + alumno.ap1 + " " + alumno.ap2 }}
                  </span>
                </div>
              </div>
            </th>
            <!--Grupo Grado Truno-->
            <th>
              <div class="align-items-center">
                <div class="media-body">
                  <span class="mb-0 text-sm">
                    {{ alumno.grado + '0' + alumno.grupo + '-' + alumno.turno }}
                  </span>
                </div>
              </div>
            </th>

            <td>
              <div ngbDropdown placement="left">
                <a class="btn btn-sm btn-icon-only text-light"
                  ngbDropdownToggle>
                  <i class="fas fa-ellipsis-v"></i>
                </a>
                <div ngbDropdownMenu
                  class=" dropdown-menu-right dropdown-menu-arrow">
                  <button class="dropdown-item"
                    (click)="cambiarAlumnoSeleccionado(alumno);">Ver
                    información</button>
                  <button class="dropdown-item"
                    (click)="editarDatosAlumno(alumno);">Editar
                    información</button>
                  <button class="dropdown-item">Otra acción</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <nav class="m-auto mr-auto" aria-label="...">
        <ul class="pagination">
          <li class="page-item">
            <button class="page-link" (click)="changePrimerControl(-1)">
              <i class="fa fa-angle-left"></i>
            </button>
          </li>

          <li *ngFor="let page of controls" class="page-item"
            [class.active]="page == SelectedPage" (click)="changePage(page)">
            <button class="page-link">
              {{ page }}
            </button>
          </li>

          <li class="page-item">
            <button class="page-link" (click)="changePrimerControl(1)">
              <i class="fa fa-angle-right"></i>
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>